a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

footer{
    text-align: center;
    margin-bottom: 10px;
}
body{
    text-align: center;
    background-color: rgb(71, 71, 71);
}
.quadrado{
    background-color:cornsilk;
    border: black solid;
    margin: 10px 70px 10px 70px;
}
h1{
    background-color: rgb(39, 39, 39);
    color: white;
}
.conteudo{
  margin: 0 200px;
}
.menu{
    background-color: rgb(51, 51, 51);
}
table, tr, td, th{
    border: black 1px solid;
}
.alinhar-tabela{
    margin: auto;
}
ul{
    font-size: larger;
}
